<!-- 继承基本模板 -->
<extend name="Index/index" />
<!-- 弹窗用，不用顶部和菜单栏 -->
<block name="_header"></block>
<block name="_menu"></block>

<block name="content">
	<div class="mt-20">
		<table class="table table-border table-bordered table-hover table-bg table-sort" style="table-layout:fixed;">
			<thead>
				<tr class="text-c">
					<th width="10%">姓名</th>
					<th width="10%">错误次数</th>
				</tr>
			</thead>
			<tbody>
			
			<empty name="list">
				<tr>
					<td colspan="4">暂无数据~</td>
				</tr>
			<else />
			<foreach name="list" item="v" key="k">
				<tr class="text-c">
					<td>{{$k}}</td>
					<td>{{$v}}</td>
				</tr>
			</foreach>
			</empty>

			</tbody>
		</table>
	</div>
</block>


<block name="js">
<script type="text/javascript" src="__PUBLIC__/admin/lib/laypage/1.2/laypage.js"></script>

</block>