<!-- 继承基本模板 -->
<extend name="Index/index" />

<block name="content">
<section class="Hui-article-box">
	<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> <a href="{{:U('Index/index')}}" class="maincolor">首页</a> <span class="c-gray en">&gt;</span> 题目列表<a class="btn btn-refresh btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
	<div class="Hui-article">
		<div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"><a href="javascript:;" onclick="layer_show('添加题目','{{:U('Topic/add')}}','','600')" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加题目</a></span> </div>
		<article class="cl pd-20">
			<div class="text-l">
				<form class="Huiform" action="" target="_self">
					每页显示：
					<span class="select-box radius" style="width:60px">
					<select class="select" name="displayNum" size="1">
						<option value="8">8</option>
						<option {{$_GET['displayNum']==30?'selected':''}} value="30">30</option>
						<option {{$_GET['displayNum']==100?'selected':''}} value="100">100</option>
					</select>
					</span>
					　　
					题目ID：
					<span style="display:inline-block;width:60px">
						<input type="text" name="id" class="input-text radius" value="{{$_GET['id']}}" />
					</span>
					　　
					题目标题：
					<span style="display:inline-block;width:200px">
						<input type="text" name="title" class="input-text radius" value="{{$_GET['title']}}" />
					</span>
					　　
					题目类型：
					<span class="select-box" style="width:100px">
					<select class="select" name="type" size="1">
						<option value="">--请选择--</option>
						<option {{$_GET['type']==1?'selected':''}} value="1">选择题</option>
						<option {{$_GET['type']==2?'selected':''}} value="2">判断题</option>
						<option {{$_GET['type']==3?'selected':''}} value="3">简答题</option>
						<option {{$_GET['type']==4?'selected':''}} value="4">编程题</option>
						<option {{$_GET['type']==5?'selected':''}} value="5">填空题</option>
					</select>
					</span>

					<br><br>
					所属分类：
					<span class="select-box" style="width:230px">
					<select class="select" name="type_id" size="1">
						<option value="">--请选择--</option>
						<foreach name="TypeList" item="v">
							<option {{$_GET['type_id']==$v['id']?'selected':''}} {{$v['pid']==0?'disabled':''}} value="{{$v['id']}}">{{$v['name']}}</option>
						</foreach>
					</select>
					</span>
					　　
					<button class="btn btn-primary radius">搜索</button>
					<a href="{{:U('Topic/index')}}" class="btn btn-default radius">取消搜索</a>
				</form>
			</div>
			<div class="mt-20" id="tableContent">
				<table class="table table-border table-bordered table-hover table-bg table-sort" style="table-layout:fixed;">
					<thead>
						<tr class="text-c">
							<th width="5%">ID</th>
							<th width="10%">所属分类</th>
							<th width="10%">题目类型</th>
							<th width="30%">题目标题</th>
							<th width="30%">题目答案</th>
							<th width="15%">添加时间</th>
							<th width="10%">操作</th>
						</tr>
					</thead>
					<tbody>
					
					<empty name="list">
						<tr><td colspan="6">暂无数据</td></tr>
					<else />
					<foreach name="list" item="v">
						<tr class="text-c">
							<td>{{$v['id']}}</td>
							<td>{{$v['type_id']}}</td>
							<td><span class="label label-warning radius">{{$v['type_lx']}}</span></td>

							<td style="text-overflow: ellipsis;white-space: nowrap;overflow:hidden;text-align:left"><u style="cursor:pointer" class="text-primary" onclick="layer_show('题目信息', '{{:U('Topic/info', ['id'=>$v['id']])}}', '400', '600')">{{$v['title']}}</u></td>

							<td style="text-overflow: ellipsis;white-space: nowrap;overflow:hidden">{{$v['answer']}}</td>

							<td>{{$v['create_time']}}</td>
							<td class="td-manage">
								<a title="编辑" href="javascript:;" onclick="layer_show('编辑','{{:U('Topic/edit',['id'=>$v['id']])}}','','600')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a> 
								<a title="删除" href="javascript:;" onclick="topic_del(this,{{$v['id']}})" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a>
							</td>
						</tr>
					</foreach>
					</empty>

					</tbody>
				</table>
				<br>
				{{$btn}}
			</div>
		</article>
	</div>
</section>
</block>


<block name="js">

<script type="text/javascript">

/*题目删除*/
function topic_del(obj,id){
	layer.confirm('确认要删除吗？',function(index){
		$.post('{{:U("Topic/del")}}', 'id='+id, function(res){
			if (res.status == 1) {
				$(obj).parents("tr").remove();
				layer.msg(res.info,{icon:6,time:1000});
			} else {
				layer.msg(res.info,{icon:5,time:1000});
			}
		})
	});
}
</script>
</block>