<!-- 继承基本模板 -->
<extend name="Index/index" />

<block name="content">
<section class="Hui-article-box">
	<nav class="breadcrumb">
		<i class="Hui-iconfont">&#xe67f;</i> 
		<a href="{{:U('Index/index')}}" class="maincolor">首页</a> <span class="c-gray en">&gt;</span> <a href="{{:U('Paper/index')}}" class="maincolor">试卷列表</a> <span class="c-gray en">&gt;</span> 生成试卷

		<a class="btn btn-refresh btn-success radius r" style="line-height:1.6em;margin-top:6px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a>

		<span class="r">
			<!-- 后期添加是否清空当前类型 -->
			<span onclick="clear_type(1)" class="btn btn-secondary size-MINI radius">
				<span>选择题</span>
				<b id="num1" style="color:#222">{{$nums.num1}}</b>
			</span>
			<span onclick="clear_type(2)" class="btn btn-secondary size-MINI radius">
				<span>判断题</span>
				<b id="num2" style="color:#222">{{$nums.num2}}</b>
			</span>
			<span onclick="clear_type(3)" class="btn btn-secondary size-MINI radius">
				<span>简答题</span>
				<b id="num3" style="color:#222">{{$nums.num3}}</b>
			</span>
			<span onclick="clear_type(4)" class="btn btn-secondary size-MINI radius">
				<span>编程题</span>
				<b id="num4" style="color:#222">{{$nums.num4}}</b>
			</span>
			<span onclick="clear_type(5)" class="btn btn-secondary size-MINI radius">
				<span>填空题</span>
				<b id="num5" style="color:#222">{{$nums.num5}}</b>
			</span>

			<button onclick="prevPaper()" type="button" class="btn btn-success radius"><i class="Hui-iconfont">&#xe665;</i> 预览试卷 <span id="topicNum" class="badge badge-danger">{{$nums['total']}}</span></button>
		</span>
	</nav>
	<div class="Hui-article">
		<article class="cl pd-20">
			<div class="text-c">
				<form class="Huiform" action="" target="_self">
					题目类型：
					<span class="select-box" style="width:100px">
					<select class="select" name="type" size="1">
						<option value="">--请选择--</option>
						<option value="1">选择题</option>
						<option value="2">判断题</option>
						<option value="3">简答题</option>
						<option value="4">编程题</option>
						<option value="5">填空题</option>
					</select>
					</span>
					所属分类：
					<span class="select-box" style="width:230px">
					<select class="select" name="type_id" size="1">
						<option value="">--请选择--</option>
						<foreach name="typeList" item="v">
							<option {{$v['pid']==0?'disabled':''}} value="{{$v['id']}}">{{$v['name']}}</option>
						</foreach>
					</select>
					</span>
					<button class="btn btn-primary radius">搜索</button>
				</form>
			</div>
			
			<div class="mt-20">
				<table class="table table-border table-bordered table-hover table-bg table-sort" style="table-layout:fixed;">
					<thead>
						<tr class="text-c">
							<th width="5%">ID</th>
							<th width="10%">所属分类</th>
							<th width="10%">题目类型</th>
							<th width="30%">题目标题</th>
							<th width="30%">题目答案</th>
							<th width="10%">操作</th>
						</tr>
					</thead>
					<tbody>
				
				<empty name="topicList">
					<tr><td colspan="6">暂无数据</td></tr>
				<else />
					<foreach name="topicList" item="v">
						<tr class="text-c">
							<td>{{$v['id']}}</td>
							<td>{{$v['type_id']}}</td>
							<td><span class="label label-warning radius">{{$v['type_lx']}}</span></td>

							<td style="text-overflow: ellipsis;white-space: nowrap;overflow:hidden"><u style="cursor:pointer" class="text-primary" onclick="layer_show('题目信息', '{{:U('Topic/info', ['id'=>$v['id']])}}', '400', '600')">{{$v['title']}}</u></td>

							<td style="text-overflow: ellipsis;white-space: nowrap;overflow:hidden">{{$v['answer']}}</td>

							<td class="td-manage">
							<if condition="$_SESSION['topicList'][$v['type']][$v['id']]">
								<button class="btn btn-danger radius" onclick="addTopic(this, {{$v['id']}}, {{$v['type']}})"><i class="Hui-iconfont">&#xe6a1;</i> 取消</button>
							<else />
								<button class="btn btn-success radius" onclick="addTopic(this, {{$v['id']}}, {{$v['type']}})"><i class="Hui-iconfont">&#xe600;</i> 添加</button>
							</if>
							</td>
						</tr>
					</foreach>
				</empty>

					</tbody>
				</table>
				{{$btn}}
			</div>
		</article>
	</div>
</section>
</block>


<block name="js">
<!-- 引入表格的js插件 -->
<script type="text/javascript" src="__PUBLIC__/admin/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/lib/laypage/1.2/laypage.js"></script>

<script type="text/javascript">
$(function(){
	//分页样式
	$('.table + div a').addClass('btn btn-success').css('margin', '5px');
	$('.table + div span').addClass('btn btn-default');

	//默认选中搜索条件
	$('select[name=type] option[value={{$_GET["type"]}}]').prop('selected', true);
	$('select[name=type_id] option[value={{$_GET["type_id"]}}]').prop('selected', true);
});

/*取消或添加到试卷*/
function addTopic(obj, id, type){
	$.post('{{:U("Paper/addTopic")}}', 'id='+id+'&type='+type, function(res){
		if (res.status == 1) {
			layer.msg(res.info,{icon:1,time:800});
			$(obj).removeClass('btn-success').addClass('btn-danger').html('<i class="Hui-iconfont">&#xe6a1;</i> 取消');
		} else {
			console.log(res);
			layer.msg(res.info,{icon:2,time:800});
			$(obj).removeClass('btn-danger').addClass('btn-success').html('<i class="Hui-iconfont">&#xe600;</i> 添加');
		}
		console.log(res);

		//修改当前题目类型的数量
		$('#topicNum').html(res.nums.total);
		$('#num1').html(res.nums.num1);
		$('#num2').html(res.nums.num2);
		$('#num3').html(res.nums.num3);
		$('#num4').html(res.nums.num4);
		$('#num5').html(res.nums.num5);
	})
}

/**
 * 预览试卷
 */
function prevPaper()
{
	if (parseInt($('#topicNum').html()) <= 0) {
		layer.msg('请先添加题目');
		return false;
	}
	layer_show('预览试卷', '{{:U('Paper/prev')}}', '', '500', true);
}

/**
 * 清除当前分类的试题
 */
function clear_type(type)
{
	layer.confirm('是否清空当前类型的试题？', function(){
		$.post('{{:U("Paper/clearType")}}', 'type='+type, function(){
			window.location.reload();
		})
	})
}
</script>
</block>