<!-- 继承基本模板 -->
<extend name="Index/index" />
<!-- 弹窗用，不用顶部和菜单栏 -->
<block name="_header"></block>
<block name="_menu"></block>

<block name="content">
<article class="cl pd-20">
	<form action="__URL__/edit" method="post" class="form form-horizontal" id="form-type-edit">
		<input type="hidden" name="id" value="{{$info['id']}}">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>试卷描述：</label>
			<div class="formControls col-xs-8 col-sm-9" style="width:35%">
				<input type="text" placeholder="请输入试卷描述" class="input-text" value="{{$info['des']}}"  id="des" name="des">
			</div>
		</div>
		
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
				<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;修改&nbsp;&nbsp;">
			</div>
		</div>
	</form>
</article>
</block>


<block name="js">
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__VALIDATE__"></script> 
<script type="text/javascript" src="__PUBLIC__/admin/lib/jquery.validation/1.14.0/validate-methods.js"></script> 
<script type="text/javascript" src="__PUBLIC__/admin/lib/jquery.validation/1.14.0/messages_zh.js"></script>

<script type="text/javascript">
$(function(){
	//表单验证插件
	$("#form-type-edit").validate({
		rules:{	//前端验证
			des:{
				required:true
			}
		},
		submitHandler:function(form){
			$('input[type=submit]').prop('disabled', true).css('cursor', 'not-allowed');
			$(form).ajaxSubmit({
				success: function(res){
					if (res.status == 1) {
						//修改成功
						parent.layer.alert(res.info, {closeBtn: 0}, function(){
							parent.location.href = res.url;
						});
					} else {
						//修改失败
						layer.alert(res.info);
					}
					$('input[type=submit]').removeProp('disabled').css('cursor', 'pointer');
				},
				error: function(res){ 
					layer.alert('服务器繁忙，请稍后再试~');
					$('input[type=submit]').removeProp('disabled').css('cursor', 'pointer');
				}
			});
		}
	});
});
</script>
</block>