<!-- 继承基本模板 -->
<extend name="Index/index" />
<!-- 弹窗用，不用顶部和菜单栏 -->
<block name="_header"></block>
<block name="_menu"></block>

<block name="content">

<div class="cl pd-5 bg-1 bk-gray" style="position:fixed;width:100%;z-index:100">
	<span class="l">
		<a href="javascript:;" onclick="parent.location.href='{{:U('Paper/add')}}'" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 继续添加</a>
	</span>
	<span class="r">
	<label>
		<span class="c-red">*</span>试卷描述：
		<input class="input-text" placeholder="如：PHP入学测试" style="width:auto" type="text" name="" id="">
	</label>
	<a href="javascript:;" onclick="addPaper(this)" class="btn btn-success radius"><i class="Hui-iconfont">&#xe60c;</i> 生成试卷</a>
	</span>
</div>

<div style="height:50px"></div>
<form action="">
<!-- 遍历选择题 -->
	<notempty name="info['topics'][1]">
	<div>
		<h3>选择题</h3>
		<ol class="linenums" style="padding-left:30px">
			<foreach name="info['topics'][1]" item="v">
			<li topicId="{{$v['type']}}_{{$v['id']}}">
				<span>{{$v['title']}}</span>
				<div>
					<?php $opt = json_decode($v['option'])?>
					<ul style="list-style:upper-alpha inside;">
						<li>{{$opt[0]}}</li>
						<li>{{$opt[1]}}</li>
						<li>{{$opt[2]}}</li>
						<li>{{$opt[3]}}</li>
					</ul>
				</div>
				<div>
					<!-- 单选框选项中的ABCD -->
					<assign name="a" value="A" />
					<for start="1" end="5">
					    <label class="radio-box">
					    	<input type="radio" name="answer_{{$v['id']}}">
					    	<span>{{$a++}}</span>
					    </label>
				    </for>
			  	</div>
			</li>
			</foreach>

		</ol>
	</div>
	</notempty>

<!-- 遍历判断题 -->
	<notempty name="info['topics'][2]">
	<div>
		<h3>判断题</h3>
		<ol class="linenums" style="padding-left:30px">

			<foreach name="info['topics'][2]" item="v">
			<li topicId="{{$v['type']}}_{{$v['id']}}">
				<span>{{$v['title']}}</span>
				<div>
				    <label class="radio-box">
				    	<input type="radio" value="y" name="answer_{{$v['id']}}">
				    	<span>对对对，你说的都对</span>
				    </label>
					<label class="radio-box">
				    	<input type="radio" value="n" name="answer_{{$v['id']}}">
				    	<span>我不信，多半是假的</span>
				    </label>
			  	</div>
			</li>
			</foreach>

		</ol>
	</div>
	</notempty>

<!-- 遍历填空题 -->
	<notempty name="info['topics'][5]">
	<div>
		<h3>填空题</h3>
		<ol class="linenums" style="padding-left:30px">
		
			<foreach name="info['topics'][5]" item="v">
			<li topicId="{{$v['type']}}_{{$v['id']}}">
				<span>{{$v['title']}}</span>
				<div>
				    <input placeholder="请填写答案..." type="text" class="input-text radius" name="answer_{{$v['id']}}" />
			  	</div>
			</li>
			</foreach>

		</ol>
	</div>
	</notempty>

<!-- 遍历简答题 -->
	<notempty name="info['topics'][3]">
	<div>
		<h3>简答题</h3>
		<ol class="linenums" style="padding-left:30px">
		
			<foreach name="info['topics'][3]" item="v">
			<li topicId="{{$v['type']}}_{{$v['id']}}">
				<span>{{$v['title']}}</span>
				<div>
				    <textarea placeholder="请输入答案..." class="textarea radius" name="answer_{{$v['id']}}"></textarea>
			  	</div>
			</li>
			</foreach>

		</ol>
	</div>
	</notempty>

<!-- 遍历编程题 -->
	<notempty name="info['topics'][4]">
	<div>
		<h3>编程题</h3>
		<ol class="linenums" style="padding-left:30px">
		
			<foreach name="info['topics'][4]" item="v">
			<li topicId="{{$v['type']}}_{{$v['id']}}">
				<span>{{$v['title']}}</span>
				<div>
				    <textarea placeholder="请输入答案..." class="textarea radius" style="resize:vertical" name="answer_{{$v['id']}}"></textarea>
			  	</div>
			</li>
			</foreach>

		</ol>
	</div>
	</notempty>
</form>
</block>


<block name="js">
<style>
	label.radio-box:hover{
		border-radius:10px;
		background:#ddd;
	}
	input:checked + span {
		color:red;
		font-weight:700;
	}

	.delBtn{
		position:absolute;
	}

</style>
<script>
$(function(){
	$('ol > li').hover(function(){
		$(this).append($('<button type="button" onclick="del(this)" class="btn btn-danger l radius delBtn"><i class="Hui-iconfont">&#xe6e2;</i> 删除</button>'));
		$(this).css('background', '#eee');
	}, function(){
		$('.delBtn').remove();
		$(this).css('background', '#fff');
	})
})

/**
 * 删除session的中题目
 */
function del(obj)
{
	var id = $(obj).parent().attr('topicId');
	$.post('{{:U("Paper/delTopic")}}', 'id='+id);

	$(obj).parent().slideUp(500);
}

function addPaper(obj) 
{
	var val = $(obj).prev().find('input').val();
	if (val == '') {
		$(obj).prev().find('input')[0].focus();
		layer.msg('请填写试卷描述');
		return false;
	}
	$.post('{{:U("Paper/add")}}', 'des='+val, function(res){
		if (res.status == 1) {
			//添加成功
			parent.layer.alert(res.info, {closeBtn: 0}, function(){
				parent.location.href = res.url;
			});
		} else {
			//添加失败
			layer.alert(res.info);
		}
	});
}
</script>
</block>