<!-- 继承基本模板 -->
<extend name="Index/index" />
<!-- 弹窗用，不用顶部和菜单栏 -->
<block name="_header"></block>
<block name="_menu"></block>

<block name="content">
<form id="fom1" style="padding:0 30px" action="__URL__/docheck" method="post">
	<input type="hidden" name="tests_id" value="{{$tests['id']}}">
	<input type="hidden" name="detail_id" value="{{$tests['detail_id']}}">
	<!-- 遍历填空题 -->
	<notempty name="tests['topics'][5]">
	<div>
		<h3>填空题
			<if condition="$tests['type'] eq 2">
			<span class="f-16 c-red">
			(每题 {{$tests['rule'][5][1]}} 分)
			</span>
			</if>
		</h3>
		<ol class="linenums" style="padding-left:30px">
		
			<foreach name="tests['topics'][5]" item="v">
			<li topicId="{{$v['type']}}_{{$v['id']}}">
				<span>{{$v['title']}}</span>
				<pre class="c-999 f-12">参考答案：{{$v['answer']}}</pre>
				<div>
				    <input placeholder="未填写答案..." type="text" class="input-text radius" name="a_{{$v['id']}}" value="{{$tests['answer']["a_{$v['id']}"]}}" />
			  	</div>
			  	<div>
				    <label class="radio-box">
				    	<input checked type="radio" value="{{$tests['type']==2?$tests['rule'][5][1]:'yes'}}" name="fen_{{$v['id']}}" />
				    	<span>完美</span>
				    </label>
					<label class="radio-box">
				    	<input type="radio" value="0" name="fen_{{$v['id']}}" />
				    	<span>错了</span>
				    </label>
			  	</div>
			</li>
			</foreach>

		</ol>
	</div>
	</notempty>

	<!-- 遍历简答题 -->
	<notempty name="tests['topics'][3]">
	<div>
		<h3>简答题
			<if condition="$tests['type'] eq 2">
			<span class="f-16 c-red">
			(每题 {{$tests['rule'][3][1]}} 分)
			</span>
			</if>
		</h3>
		<ol class="linenums" style="padding-left:30px">
		
			<foreach name="tests['topics'][3]" item="v">
			<li topicId="{{$v['type']}}_{{$v['id']}}">
				<span>{{$v['title']}}</span>
				<pre class="c-999 f-12">参考答案：{{$v['answer']}}</pre>
				<div>
				    <textarea placeholder="未输入答案..." class="textarea radius" name="a_{{$v['id']}}">{{$tests['answer']["a_{$v['id']}"]}}</textarea>
			  	</div>

			  	<!-- 判断是计分还是计数 -->
			  	<if condition="$tests['type'] eq 2">
			  	<div style="position:relative;width:400px">
				    <span class="c-green">请输入评分：</span><input required placeholder="最多{{$tests['rule'][3][1]}}分..." max="{{$tests['rule'][3][1]}}" min="0" type="text" class="input-text radius" style="width:100px" name="fen_{{$v['id']}}" value="{{$tests['rule'][3][1]}}" />
			  	</div>
			  	<else />
			  	<div>
				    <label class="radio-box">
				    	<input checked type="radio" value="yes" name="fen_{{$v['id']}}" />
				    	<span>完美</span>
				    </label>
					<label class="radio-box">
				    	<input type="radio" value="0" name="fen_{{$v['id']}}" />
				    	<span>错了</span>
				    </label>
			  	</div>
			  	</if>
			</li>
			</foreach>

		</ol>
	</div>
	</notempty>

	<!-- 遍历编程题 -->
	<notempty name="tests['topics'][4]">
	<div>
		<h3>编程题
			<if condition="$tests['type'] eq 2">
			<span class="f-16 c-red">
			(每题 {{$tests['rule'][4][1]}} 分)
			</span>
			</if>
		</h3>
		<ol class="linenums" style="padding-left:30px">
		
			<foreach name="tests['topics'][4]" item="v">
			<li topicId="{{$v['type']}}_{{$v['id']}}">
				<span>{{$v['title']}}</span>
				<pre class="c-999 f-12">参考答案：{{$v['answer']}}</pre>
				<div>
				    <textarea placeholder="未输入答案..." class="textarea radius" style="resize:vertical" name="a_{{$v['id']}}">{{$tests['answer']["a_{$v['id']}"]}}</textarea>
			  	</div>

			  	<!-- 判断计分还是计数 -->
			  	<if condition="$tests['type'] eq 2">
			  	<div style="position:relative;width:400px">
				    <span class="c-green">请输入评分：</span><input required placeholder="最多{{$tests['rule'][4][1]}}分..." max="{{$tests['rule'][4][1]}}" min="0" type="text" class="input-text radius" style="width:100px" name="fen_{{$v['id']}}" value="{{$tests['rule'][4][1]}}" />
			  	</div>
			  	<else />
			  	<div>
				    <label class="radio-box">
				    	<input checked type="radio" value="yes" name="fen_{{$v['id']}}" />
				    	<span>完美</span>
				    </label>
					<label class="radio-box">
				    	<input type="radio" value="0" name="fen_{{$v['id']}}" />
				    	<span>错了</span>
				    </label>
			  	</div>
			  	</if>
			</li>
			</foreach>

		</ol>
	</div>
	</notempty>

	<br><br>
	<button class="btn radius btn-primary">提交</button>
</form>
</block>


<block name="js">
<style>
	label.radio-box:hover{
		border-radius:10px;
		background:#f96;
	}
	input:checked + span {
		color:red;
		font-weight:700;
	}

</style>
<script type="text/javascript" src="__VALIDATE__"></script> 
<script type="text/javascript" src="__PUBLIC__/admin/lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/lib/laypage/1.2/laypage.js"></script>
<script>
$(function(){
	//禁用表单
	$('input[name^=a_],textarea').prop('disabled', true);
	$('input[name=a_]').click(function(){
		return false;
	})

	$('#fom1').validate({
		submitHandler:function(form){
			$('input[type=submit]').prop('disabled', true).css('cursor', 'not-allowed');
			$(form).ajaxSubmit({
				success: function(res){
					if (res.status == 1) {
						//审核成功
						parent.layer.alert(res.info, {closeBtn: 0}, function(){
							parent.location.reload();
						});
					} else {
						//审核失败
						layer.alert(res.info);
					}
					$('input[type=submit]').removeProp('disabled').css('cursor', 'pointer');
				},
				error: function(res){ 
					layer.alert('服务器繁忙，请稍后再试~');
					$('input[type=submit]').removeProp('disabled').css('cursor', 'pointer');
				}
			});
		}
	});
})
</script>
</block>