<!-- 继承基本模板 -->
<extend name="Index/index" />

<block name="content">
<section class="Hui-article-box">
	<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> <a href="{{:U('Index/index')}}" class="maincolor">首页</a> <span class="c-gray en">&gt;</span> 考试列表<a class="btn btn-refresh btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
	<div class="Hui-article">
		<article class="cl pd-20">
			<div class="mt-20">
				<table class="table table-border table-bordered table-hover table-bg table-sort">
					<thead>
						<tr class="text-c">
							<th>ID</th>
							<th>试卷ID</th>
							<th>考试班级</th>
							<th>考试描述</th>
							<th>考试类型</th>
							<th>总分/总个数</th>
							<th>状态</th>
							<th>添加时间</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
					
					<foreach name="list" item="v">
						<tr class="text-c">
							<td>{{$v['id']}}</td>
							<td><u style="cursor:pointer" class="text-primary" onclick="layer_show('试卷信息', '{{:U('Paper/info', ['id'=>$v['paper_id'],'tests'=>true])}}', '450', '650')">{{$v['paper_id']}}</u></td>
							<td>{{$v['class_name']}}</td>
							<td>{{$v['des']}}</td>
							<td>{{$v['type']}}</td>
							<td>{{$v['total']}}</td>
							<td>
								<if condition="$v['status'] eq 1">
									<span onclick="stop(this, {{$v['id']}})" class="btn radius btn-danger">考试中</span>
								<else />
									<span class="btn radius btn-success">已结束</span>
								</if>
							</td>
							<td>{{$v['create_time']}}</td>
							<td class="td-manage">
								<a title="查看详情" href="{{:U('Detail/index', ['id'=>$v['id'], 'class_id'=>$v['class_id']])}}" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe665;</i></a> 
								<a title="删除" href="javascript:;" onclick="tests_del(this,{{$v['id']}})" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a>
								
								<!-- 是否开启审阅 -->
								<if condition="$v['is_check'] eq 1">
								<a title="开启学员审阅权限" href="javascript:;" onclick="is_check(this,{{$v['id']}})" flag="{{$v['is_check']}}" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e1;</i></a>
								<else />
								<a title="关闭学员审阅权限" href="javascript:;" onclick="is_check(this,{{$v['id']}})" flag="{{$v['is_check']}}" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe631;</i></a>
								</if>

								<!-- 是否查看分数 -->
								<if condition="$v['is_score'] eq 1">
								<a title="让学员可以看分" href="javascript:;" onclick="is_score(this,{{$v['id']}})" flag="{{$v['is_score']}}" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe725;</i></a>
								<else />
								<a title="让学员不能看分" href="javascript:;" onclick="is_score(this,{{$v['id']}})" flag="{{$v['is_score']}}" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6dd;</i></a>
								</if>

								<!-- 查看错误情况 -->
								<a title="查看错误情况" href="{{:U('Error/index', ['tests_id'=>$v['id']])}}" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe633;</i></a>
							</td>
						</tr>
					</foreach>

					</tbody>
				</table>
			</div>
		</article>
	</div>
</section>
</block>


<block name="js">
<!-- 引入表格的js插件 -->
<script type="text/javascript" src="__PUBLIC__/admin/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/lib/laypage/1.2/laypage.js"></script>

<script type="text/javascript">
$(function(){
	$('.table-sort').dataTable({
		"aaSorting": [[ 0, "desc" ]],//默认第几个排序
	});
});

/*考试删除*/
function tests_del(obj,id){
	layer.confirm('确认要删除吗？',function(index){
		$.post('{{:U("Tests/del")}}', 'id='+id, function(res){
			if (res.status == 1) {//删除成功
				$(obj).parents("tr").remove();
				layer.msg(res.info,{icon:6,time:1000});
			} else if (res.status == 5) {//是否强制删除
				layer.confirm(res.info, function(index){
				$.post('{{:U("Tests/del")}}', 'id='+id+'&del=ok', function(res){
						if (res.status == 1) {
							$(obj).parents("tr").remove();
							layer.msg(res.info,{icon:6,time:1000});
						} else {
							layer.msg(res.info,{icon:5,time:1000});
						}
					})
				});
			} else {//删除失败
				layer.msg(res.info,{icon:5,time:1000});
			}
		})
	});
}

/*结束考试*/
function stop(obj, id)
{
	layer.confirm('是否结束考试？',function(index){
		$.post('{{:U("Tests/stop")}}', 'id='+id, function(res){
			if (res.status == 1) {
				$(obj).removeClass('btn-danger').addClass('btn-success').html('已结束').removeAttr('onclick');
				layer.msg(res.info,{icon:6,time:1000});
			} else {
				layer.msg(res.info,{icon:5,time:1000});
			}
		})
	});
}

/**
 * 是否开启学员审核权限
 */
function is_check(obj, id)
{
	layer.confirm('确认要改变审阅权限？',function(index){
		$.post('{{:U("Tests/is_check")}}', 'id='+id+'&flag='+$(obj).attr('flag'), function(res){
			if (res.status == 1) {
				if ($(obj).attr('flag') == 1) {
					$(obj).attr('flag', 2);
					$(obj).attr('title', '关闭学员审阅权限');
					$(obj).find('i').html('&#xe631;');
				} else {
					$(obj).attr('flag', 1);
					$(obj).attr('title', '开启学员审阅权限');
					$(obj).find('i').html('&#xe6e1;');
				}
				layer.msg(res.info,{icon:6,time:1000});
			} else {
				layer.msg(res.info,{icon:5,time:1000});
			}
		})
	});
}

/**
 * 是否开启学员查看分数的权限
 */
function is_score(obj, id)
{
	layer.confirm('确认要改变查看分数的权限？',function(index){
		$.post('{{:U("Tests/is_score")}}', 'id='+id+'&flag='+$(obj).attr('flag'), function(res){
			if (res.status == 1) {
				if ($(obj).attr('flag') == 1) {
					$(obj).attr('flag', 2);
					$(obj).attr('title', '关闭学员查看权限');
					$(obj).find('i').html('&#xe6dd;');
				} else {
					$(obj).attr('flag', 1);
					$(obj).attr('title', '开启学员查看权限');
					$(obj).find('i').html('&#xe725;');
				}
				layer.msg(res.info,{icon:6,time:1000});
			} else {
				layer.msg(res.info,{icon:5,time:1000});
			}
		})
	});
}
</script>
</block>