<!-- 继承基本模板 -->
<extend name="Index/index" />
<!-- 弹窗用，不用顶部和菜单栏 -->
<block name="_header"></block>
<block name="_menu"></block>

<block name="content">
<article class="cl pd-20">
	<form action="__URL__/edit" method="post" class="form form-horizontal" id="form-user-edit">
		<input type="hidden" name="id" value="{{$info['id']}}">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>所属班级：</label>
			<div class="formControls col-xs-8 col-sm-9"> <span class="select-box">
				<select class="select" size="1" name="class_id">
					<option value="">请选择班级</option>
					<option value="0" selected>教师</option>

				<foreach name="classList" item="v">
					<option {{$v['id'] == $info['class_id']?'selected':''}} value="{{$v['id']}}">{{$v['name']}}</option>
				</foreach>

				</select>
			</span>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>登录名：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" placeholder="请输入学生名称" class="input-text" value="{{$info['username']}}"  id="username" name="username">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>密码：</label>

			<div class="formControls col-xs-8 col-sm-9">
				<input type="password" placeholder="不修改则为空" class="input-text" value=""  id="pwd" name="pwd">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>确认密码：</label>

			<div class="formControls col-xs-8 col-sm-9">
				<input type="password" placeholder="不修改则为空" class="input-text" value=""  id="pwd2" name="pwd2">
			</div>
		</div>

		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>性别：</label>
			<div class="formControls col-xs-8 col-sm-9 skin-minimal">
				<div class="radio-box">
					<input name="sex" value="1" type="radio" id="sex-1" {{$info['sex'] == 1?'checked':''}}>
					<label for="sex-1">男</label>
				</div>
				<div class="radio-box">
					<input type="radio" value="0" id="sex-2" name="sex" {{$info['sex'] == 0?'checked':''}}>
					<label for="sex-2">女</label>
				</div>
			</div>
		</div>

		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>是否可以审阅试卷：</label>
			<div class="formControls col-xs-8 col-sm-9 skin-minimal">
				<div class="radio-box">
					<input name="has_check" value="1" type="radio" id="has_check-1" {{$info['has_check'] == 1?'checked':''}}>
					<label for="has_check-1">可以</label>
				</div>
				<div class="radio-box">
					<input type="radio" value="0" id="has_check-2" name="has_check" {{$info['has_check'] == 0?'checked':''}}>
					<label for="has_check-2">不行</label>
				</div>
			</div>
		</div>

		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">手机：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{{$info['phone']}}" placeholder="手机号" id="phone" name="phone">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">邮箱：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" placeholder="@" value="{{$info['email']}}" name="email" id="email">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">年龄：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" placeholder="年龄" value="{{:empty($info['age'])?'':$info['age']}}" name="age" id="age">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">QQ：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" placeholder="qq号" value="{{$info['qq']}}" name="qq" id="qq">
			</div>
		</div>
		
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
				<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;修改&nbsp;&nbsp;">
			</div>
		</div>
	</form>
</article>
</block>


<block name="js">
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__PUBLIC__/admin/lib/jquery.validation/1.14.0/jquery.validate.js"></script> 
<script type="text/javascript" src="__PUBLIC__/admin/lib/jquery.validation/1.14.0/validate-methods.js"></script> 
<script type="text/javascript" src="__PUBLIC__/admin/lib/jquery.validation/1.14.0/messages_zh.js"></script>

<script type="text/javascript">
$(function(){
	//表单验证插件
	$("#form-user-edit").validate({
		rules:{	//前端验证
			class_id:{
				required:true,
			},
			username:{
				required:true,
				minlength:2,
				maxlength:5
			},
			pwd2:{
				equalTo:"#pwd"
			},
			email:{
				email:true
			},
			age:{
				number:true,
				min:10,
				max:80
			},
			phone:{
				isMobile:true
			},
			qq:{
				number:true,
				maxlength:15,
				minlength:6,
			}
		},
		onkeyup:false,		//键盘弹起就验证，默认为true
		success:"valid",//验证通过后给label加class="valid"
		submitHandler:function(form){
			$(form).ajaxSubmit({
				success: function(res){
					if (res.status == 1) {
						//修改成功
						parent.layer.alert(res.info, {closeBtn: 0}, function(){
							parent.location.href = res.url;
						});
					} else {
						//修改失败
						layer.alert(res.info);
					}
				}
			});
		}
	});
});
</script>
</block>